#img_container{
    height: 250px;
    }
    #img_container img{
        height: 100px;
        margin: auto auto;
        display: block;
    }
    table, th, td {
        border:2px solid black;
        margin: auto auto;
        
    }

